<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-a11y="true"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="shortcut icon" href="/img/iMachine-icono.ico">
    <script defer src="/app.js"></script>
    <title>iMachine</title>

</head>

<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=+5491162383526&text=Buenos%20d%C3%ADas,%20tengo%20una%20consulta." class="float" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>
    <!-- Barra de Navegacion -->
    <header>
        <nav class="navbar">
            <div class="content">
                <div class="logo">
                    <a href="/templates/index.html"><img src="/img/imachine-logo-principal.png" alt=""></a>
                </div>
                <ul class="menu-list">
                    <div class="icon cancel-btn">
                        <i class="fas fa-times"></i>
                    </div>
                    <li>
                        <a href="/templates/quienes-somos.html">¿Quiénes somos?</a>
                    </li>
                    <li>
                        <a href="/templates/que-hacemos.html">¿Qué hacemos?</a>
                        <ul>
                            <li><a href="que-hacemos.html?key1=value1&key2=value2#desarrollo">Desarrollo</a></li>
                            <li><a href="que-hacemos.html?key1=value1&key2=value2#agilidad">Agilidad</a></li>
                            <li><a href="que-hacemos.html?key1=value1&key2=value2#digitalizacion">RPA</a></li>
                            <li><a href="que-hacemos.html?key1=value1&key2=value2#estrategia">Transformacion</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/templates/como-hacemos.html">¿Cómo lo hacemos?</a>
                    </li>
                    <li>
                        <a href="/templates/clientes.html">Clientes</a>
                    </li>
                    <li>
                        <a href="/templates/contacto.html">Contáctenos</a>
                    </li>
                    <div class="redes-sociales">
                        <li class="icono-red">
                            <a href="https://twitter.com/home" target="blank"><i class="fab fa-twitter" id="twitter"></i></a>
                        </li>
                        <li class="icono-red">
                            <a href="https://www.linkedin.com/company/imachine-consulting/" target="blank"><i class="fab fa-linkedin" id="linkedin" ></i></a>
                        </li>
                    </div>
                </ul>
                <div class="icon menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>
    </header>

    <!-- CUERPO DE PAGINA -->
    <main>
        <div class="carousel-wrapper">
            <span id="item-1"></span>
            <span id="item-2"></span>
            <span id="item-3"></span>
            <div class="carousel-item item-1">
                <h2>Item 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan pretium dolor vel convallis. Aliquam erat volutpat. Maecenas lacus nunc, imperdiet sed mi et, finibus suscipit mi.</p>
                <a class="arrow arrow-prev" href="#item-3"></a>
                <a class="arrow arrow-next" href="#item-2"></a>
            </div>

            <div class="carousel-item item-2">
                <h2>Item 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan pretium dolor vel convallis. Aliquam erat volutpat.</p>
                <a class="arrow arrow-prev" href="#item-1"></a>
                <a class="arrow arrow-next" href="#item-3"></a>
            </div>

            <div class="carousel-item item-3">
                <h2>Item 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan pretium dolor vel convallis. Aliquam erat volutpat.</p>
                <a class="arrow arrow-prev" href="#item-2"></a>
                <a class="arrow arrow-next" href="#item-1"></a>
            </div>
        </div>

        <section class="container-index2-section">
            <h1 style="text-align: center;">Nuestros servicios</h1>
            <div class="container-index2">
                <div class="index2-col index2-col1">
                    <img src="/img/partnership.png" alt="">
                    <p> <strong>✓</strong> Partnership estratégico para el CIO. Coaching, Plan estratégico de sistemas</p>
                </div>
                <div class="index2-col index2-col2">
                    <img src="/img/diseño-estructura-it.png" alt="">
                    <p> <strong>✓</strong> Diseño de estructura de IT. Organización + moderna y digital</p>
                </div>
                <div class="index2-col index2-col3">
                    <img src="/img/implementacion-proceso-it.png" alt="">
                    <p> <strong>✓</strong> Implementación de procesos de IT. Modelo Operativo de IT</p>
                </div>
                <div class="index2-col index2-col4">
                    <img src="/img/arquitectura-aplicaciones.png" alt="">
                    <p> <strong>✓</strong> Arquitectura de aplicaciones e Infra. CTO as a service</p>
                </div>
        </section>
        </div>

        <section class="container-index3-section">
            <aside id="slideshow">
                <div>
                    <img src="/img/western-union.png" alt="">
                </div>
                <div>
                    <img src="/img/steplix.png" alt="">
                </div>
                <div>
                    <img src="/img/prokarma.png" alt="">
                </div>
                <div>
                    <img src="/img/metropol.png">
                </div>
                <div>
                    <img src="/img/panamerican-energy.png" alt="">
                </div>
                <div>
                    <img src="/img/dvigi.png" alt="">
                </div>
                <div>
                    <img src="/img/oxean.png" alt="">
                </div>
                <div>
                    <img src="/img/orlosh.jpg" alt="">
                </div>
                <div>
                    <img src="/img/metrogas.png" alt="">
                </div>
                <div>
                    <img src="/img/bedtime.jpg" alt="">
                </div>
                <div>
                    <img src="/img/suzano.png " alt=" ">
                </div>
                <div>
                    <img src="/img/opensolution.png " alt=" ">
                </div>
                <div>
                    <img src="/img/ministerio-justicia.png " alt=" " class="ministerio-justicia">
                </div>
                <div>
                    <img src="/img/pago-facil.png " alt=" ">
                </div>
            </aside>

        </section>
        <aside id="slideshow2">
            <div>
                <img src="/img/metrogas.png">
            </div>
            <div>
                <img src="/img/dvigi.png">
            </div>
            <div>
                <img src="/img/ministerio-justicia.png" alt="">
            </div>
        </aside>


    </main>
    <footer>
        <div class="footer">
            <section class="container-footer">
                <div class="row">
                    <div class="footer-col">
                        <h4>Nuestro Menu</h4>
                        <ul class="lista-footer">
                            <li><a href="quienes-somos.html">¿Quiénes somos?</a></li>
                            <hr style="color: #b6b6b6;">
                            <li><a href="que-hacemos.html">¿Qué hacemos?</a></li>
                            <hr style="color: #b6b6b6;">
                            <li><a href="como-hacemos.html">¿Cómo lo hacemos?</a></li>
                            <hr style="color: #b6b6b6;">
                            <li><a href="clientes.html">Clientes</a></li>
                            <hr style="color: #b6b6b6;">
                            <li><a href="contacto.html">Contáctenos</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Sobre Nosotros</h4>
                        <ul class="lista-footer">
                            <p style="color: #b6b6b6;">Consultora especializada en Transformación y Digitalización, Centrada en el Cliente + Personas + Procesos + Agilidad + Tecnología Exponencial.
                            </p>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Mas información</h4>
                        <ul class="lista-footer mas-informacion">

                            <li class="lista-1-mas-informacion">
                                <a href="https://www.google.com.ar/maps/place/Maip%C3%BA+1210,+C1006ACS+CABA/@-34.6097653,-58.4089462,13.5z/data=!4m13!1m7!3m6!1s0x95bccab5d1f6f7e1:0x108a02ca6dfa693d!2sMaip%C3%BA+1210,+C1006ACS+CABA!3b1!8m2!3d-34.5940861!4d-58.3768436!3m4!1s0x95bccab5d1f6f7e1:0x108a02ca6dfa693d!8m2!3d-34.5940861!4d-58.3768436?hl=es&authuser=0"
                                    target="blank" id="location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <p class="location"> Maipú 1210 – Piso 8 CABA</p>
                                </a>
                            </li>

                            <li>
                                <a href="#footer">
                                    <i class="fas fa-phone"></i> +54 9 11 6238-3526
                                </a>
                            </li>
                            <li class="lista-1-mas-informacion">
                                <a href="#footer" id="gmail">
                                    <i class="fas fa-envelope"></i>
                                    <p class="gmail">info@imachine.com.ar</p>
                                </a>
                            </li>
                            <li>
                                <a href='https://es.pngtree.com/' target="blank" id="pngtree">
                                    <i class="fas fa-palette"></i>
                                    <p class="pngtree"> Ilustración png de .pngtree.com/</p>
                                </a>
                            </li>
                        </ul>
                    </div>


                    <div class="footer-col">
                        <h4>Redes sociales</h4>
                        <div class="redes-sociales-footer">
                            <a href="https://www.linkedin.com/company/imachine-consulting/"><i class="fab fa-linkedin"></i></a>
                            <a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <section class="footer-marca">
            <h6>Copyright© 2021 | iMachine® </h4>
        </section>
    </footer>


    <!-- <SCRIPT>S DE JAVASCRIPT  -->
    <script src="/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $("#slideshow > div:gt(0)").hide();

        setInterval(function() {
            $('#slideshow > div:first')
                .fadeOut(2000)
                .next()
                .fadeIn(2000)
                .end()
                .appendTo('#slideshow');
        }, 3000);

        $("#slideshow2 > div:gt(0)").hide();

        setInterval(function() {
            $('#slideshow2 > div:first')
                .fadeOut(2000)
                .next()
                .fadeIn(2000)
                .end()
                .appendTo('#slideshow2');
        }, 3000);
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>